{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      {% include 'includes/about_developer.html' %}
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Учусь в Яндекс Практикум на профессию backend разработчик. Это финальный проект темы Django framework.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}